<style>
.padding {
	padding-top:10%;
	background-color: #335778;
	padding-bottom: 10%;
}
.border {
	border-style:solid; border-width: 0 0 4px 0; border-color: white
}
.paddingbox {
	padding:40px;
}
@media only screen and (max-width: 792px){
	.border {
		border:0;
	}
	.paddingbox {
		padding:10px;
	}
}

</style>
<div flex class="awesome about box" md-ink-ripple="white" layout="column" layout-align="end start">
	<P class="awesomeheading">ABOUT US</P>
</div>

<div class="padding shadow" layout="row" layout-sm="column" layout-xs="column">
	<div flex layout="column" layout-align="center center">
		<img src="assets/second.png" class="border">
	</div>
	<div flex layout="column" layout-align="center center">
		<p style="color:white; padding:30px;">                We are a non profit organisation aiming to bridge the gaps between the, economically and socially, privileged and non privileged diversity of India. We serve our purpose by training and supporting students and organisations aiming towards similar goals, technically and socially, through our various projects and events. We also extend our consultancy services in technical, human resource and marketing fields through our network of experts to support our vision and mission.<br><a href="#join"><md-button class="md-raised md-warn" style="align-self:baseline; margin: 9px">JOIN US</md-button></a></p>

	</div>
</div>

<div style="padding:10% 2% 10% 4%; font-size:180%">
	Follow Coyan
</div>

<div layout="row" layout-xs="column" layout-sm="column" layout-align="center center">

	<div class="paddingbox">
		<a href="{{user.facebook}}" style="padding:0; margin:0;"><md-button class="md-fab shareshadow" aria-label="Facebook Link" style="width:90px; height:90px; background-color: #4862a3">
            <i class="fa fa-facebook fa-5x" aria-hidden="true" style="padding-top: 14px;"></i>
        </md-button></a> Facebook
	</div>
</div>


</div>
