
<style>
.paddingcool {
	padding-top:10%;
	background-color: #4c6b6b;
	padding-bottom: 10%;
}
.border {
	border-style:solid; border-width: 0 0 4px 0; border-color: white
}
.paddingbox {
	padding:40px;
}
@media only screen and (max-width: 792px){
	.border {
		border:0;
	}
	.paddingbox {
		padding:10px;
	}
}

</style>
<div ng-controller="eventblack">
<div class="paddingcool shadow" layout="row" layout-sm="column" layout-xs="column" style="background: #fbf59c; color:black;">
	<div flex layout="column" layout-align="center center">
		<img src="assets/TechArtha.jpg" width="500">
	</div>
	<div flex layout="column" layout-align="center center">

		<p style="color:black; padding:30px; text-align:justify"><SPAN style="font-size:200%;">TECH ARTHA</SPAN><br>       Paid internships. Certification.<br> 25 seats. 6 hours.<br>
By the end of the day you'll be having a web app in your laptops and thorough know-how of basic web designing & development. Besides, you will be taught how to use your basic web skills & internet presence - Facebook to blog writing, as an asset to earn money. Finally, you will go through a workshop to implement everything as a project.<br>
Best 5 participant will be exposed to paid internship opportunities. Best project will be awarded separately. Certificates will be provided to everyone. Follow the link to register yourself! <br> </p>

	</div>
</div>


<div class="paddingcool shadow" layout="row" layout-sm="column" layout-xs="column" style="background-color:white;">
	<div flex layout="column" layout-align="center center">
		<img src="assets/skill-o-thon.jpg" width="300">
	</div>
	<div flex layout="column" layout-align="center center">

		<p style="color:#635959; padding:30px; text-align:justify"><SPAN style="font-size:200%">SKILL-0-THON </SPAN><br>Every now and then Coyan organizes events to promote the learning of skills like Android development (Android-O-Thon), Portrait making (Sketch-O-Thon) etc in a limited amount of time. Fast forwarding the entire process, at a maximum of 10 hours, you walk out with a new skill set out of the event. These events are mostly conducted as per demands under the supervision of experts of respective fields.
		<br><a href="#contactus" style="text-decoration:none; color:white; "><md-button class="md-raised md-warn" style="align-self:baseline; margin:10px;">CONTACT</md-button></a></p>
	</div>
</div>
</div>
