<div flex class="md-whiteframe-24dp awesome default box" md-ink-ripple="white" layout="column" layout-align="end start">
	<h1 class="awesomeheading">COYAN</h1>
</div>
<div flex layout="column" style="background: url('assets/header1.jpg') no-repeat !important; background-size:cover !important; color: white !important; padding: 5% !important;">
	<h1>COYAN <span style="font-weight:100;">CONSULTANCY SERVICES</span></h1>
	<p>SHIPPING OUT SERVICES IN :</p>
	<hr align="left" style="  border-top: 6px solid #1676d2 !important; width: 40%; position:relative !important; top: -16px;"/>
	<p style="position:relative !important; top: -32px;">Web | Marketing | Product Conceptualization | HR</p>
	<a href="#services"><md-button class="md-raised md-primary">KNOW MORE</md-button></a>
</div>
<div flex layout="column" layout-align="center end" style="background: url('assets/header2.jpg') no-repeat !important; background-size:cover !important; color: white !important; padding: 2% !important;     padding-top: 0 !important; width:100%;">
	<div layout-align="center end" style="padding: 5%; width: 90%; background: rgba(99, 0, 13, 0.75); "><h1>COYAN <span style="font-weight:100;">FOUNDATION</span></h1>
	<hr align="left" style="  border-top:6px solid rgba(204, 195, 196, 0.67) !important; width: 100%; position:relative !important; top: -16px;"/>
	<p style="position:relative !important; top: -13px;">STAFE | END2END NGO CONSULTANCY</p>
	<a href="#project"><md-button class="md-raised md-warn">KNOW MORE</md-button></a>
</div>
</div>
<style type="text/css">
  .padd {
    padding:25px 25px 0 25px;
  }
  .nonanchor {
    text-decoration: none;
  }
</style>
<div layout="row" class="shadow" layout-sm="column" layout-xs="column" layer-overlap>
  <div class="homebox"  style="background-color: #ececec; ">
    <a href="#project" onclick="yellow()" class="nonanchor"><div class="padd" style="color:brown;" md-ink-ripple="white">
      <h3>OUR PROJECTS</h3>
      See the amazing projects that we are doing now!!
    </div>

    <center><img src="assets/cradle.gif" class="homeimage"></center></a>
  </div>
  <div class="homebox black" style="-webkit-box-shadow: -7px 8px 15px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 8px 15px 1px rgba(0,0,0,0.75);
box-shadow: -7px 8px 15px 1px rgba(0,0,0,0.75);">
    <a href="#about" onclick="about()" class="nonanchor"><div class="padd" style="color:white; ">
    <h3>ABOUT US</h3>
    Know about what we are, and what do we strive for!!
    </div>
    <center><img src="assets/second.png" class="homeimage" style="padding-bottom:30px;"></center>
    </div></a>

</div>
<div layout="row" class="shadow" layout-sm="column" layout-xs="column" layer-overlap>
  <div class="homebox black" ng-controller="ScrollController" style="background-color:#444661; -webkit-box-shadow: 1px -5px 15px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -5px 15px 1px rgba(0,0,0,0.75);
box-shadow: 1px -5px 15px 1px rgba(0,0,0,0.75);" >
    <a ng-click="gotoBottom()" class="nonanchor"><div class="padd" style="color:#ced1fb;" >
    <h3>CLIENTLE</h3>
    Meet our awesome clients who do awesome work!!
    </div>
    <center><img src="assets/hand.gif" class="homeimage"></center>
  </div></a>
  <div class="homebox" style="word-wrap:break-word; background-color: #2da4a8; -webkit-box-shadow: inset 2px 6px 15px 1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 2px 6px 15px 1px rgba(0,0,0,0.75);
box-shadow: inset 2px 6px 15px 1px rgba(0,0,0,0.75);" >
   <a href="#join" class="nonanchor"> <div class="padd" style="color:white;">
    <h3>JOIN US</h3>
    Be a Coyan Fellow and make a difference!!
    </div>
    <center><img src="assets/coffee.gif" class="homeimage"></center>
  </div></a></div>

</div>
<style type="text/css">
  .imager
  {
    width: 200px;
    height: auto;
    margin: 10px;
    padding:20px;
    --webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);

  }
 }
</style>
<div id="clients" style="background-color:white;">
<center><h1 style="color:#BBBBBB; margin-top:50px">OUR CLIENTS!!</h1></center>
<div layout="row" layout-wrap layout-align="center center">
  <img src="assets/clc/aiesec-min.jpg" class="imager">
  <img src="assets/clc/bhadra-min.jpg" class="imager">
  <img src="assets/clc/ruva-min.jpg" class="imager">
  <img src="assets/clc/ver-min.jpg" class="imager">
  <img src="assets/clc/juvenile-min.jpg" class="imager">
 </div>
</div>
