<style>
.paddingcool {
	padding-top:10%;
	background-color: #4c6b6b;
	padding-bottom: 10%;
}
.border {
	border-style:solid; border-width: 0 0 4px 0; border-color: white
}
.paddingbox {
	padding:40px;
}
@media only screen and (max-width: 792px){
	.border {
		border:0;
	}
	.paddingbox {
		padding:10px;
	}
}

</style>
<div flex class="awesome box yellow" md-ink-ripple="white" layout="column" layout-align="end start">
	<P class="awesomeheading">PROJECT</P>
</div>

<div class="paddingcool shadow" layout="row" layout-sm="column" layout-xs="column">
	<div flex layout="column" layout-align="center center">
		<img src="assets/stafe.png" width="200">
	</div>
	<div flex layout="column" layout-align="center center">

		<p style="color:white; padding:30px;"><SPAN style="font-size:200%">STAFE</SPAN><br>       Socio and technical access for everyone, as the name goes, aims to build a stronger society by providing due technical knowledge and resources to the most underprivileged. To realize project STAFE we have our own team. Also, we are training college students and motivating them to apply their knowledge and solve real life problem statements. Thus, through the above resources, we are providing free services to various reputed national & international NGOs and NPOs to enhance their efficiency, work culture and productivity; so that they can provide strengthened services to further humanity. Besides, organizing skill development programs and so goes parallely.<br>
		<a href="#join" style="text-decoration:none; color:white; "><md-button class="md-raised md-warn" style="align-self:baseline; margin:10px;">JOIN US</md-button></a></p>
	</div>
</div>
<div class="paddingcool shadow" layout="row" layout-sm="column" layout-xs="column" style="background-color:#050028">
	<div flex layout="column" layout-align="center center">
		<img src="assets/MIND.jpg" width="375">
	</div>
	<div flex layout="column" layout-align="center center">

		<p style="color:white; padding:30px;"><SPAN style="font-size:200%">A BEAUTIFUL MIND</SPAN><br>  What is sanity? This online project initiated by Coyan aims to seek the answer for the same, bringing to you a set of works - mostly articles, from experts and also the people who have been, directly or indirectly, discarded by the society in the name of madness. We present the works, experiences and stories of the very same people to you and let you think how different they are from the so called sane ones.<br>
		<a href="#allarticles" style="text-decoration:none; color:white; "><md-button class="md-raised md-warn" style="align-self:baseline; margin:10px;">ARTICLES</md-button></a></p>
	</div>
</div>
