<style>
.paddingcool {
	padding-top:10%;
	background-color: #4c6b6b;
	padding-bottom: 10%;
}
.border {
	border-style:solid; border-width: 0 0 4px 0; border-color: white
}
.paddingbox {
	padding:40px;
}
@media only screen and (max-width: 792px){
	.border {
		border:0;
	}
	.paddingbox {
		padding:10px;
	}
}

</style>
<div flex class="awesome box yellow" md-ink-ripple="white" layout="column" layout-align="end start">
	<P class="awesomeheading">PROJECT</P>
</div>

<div class="paddingcool shadow" layout="row" layout-sm="column" layout-xs="column">
	<div flex layout="column" layout-align="center center">
		<img src="assets/stafe.png" width="200">
	</div>
	<div flex layout="column" layout-align="center center">

		<p style="color:white; padding:30px;"><SPAN style="font-size:200%">STAFE</SPAN><br>          Socio technical access for everyone. An initiative of coyan to make tech and social upliftment reach door to door. </p>
		<a href="#join" style="text-decoration:none; color:white; "><md-button class="md-raised md-warn" style="align-self:baseline; margin-left:30px;">JOIN US</md-button></a>
	</div>
</div>